{{#section "head"}}
	<link rel="stylesheet" type="text/css" href="/public/css/login.css"/>
{{/section}}

<header>
	{{> menu}}
</header>
<section id="login_container">
				<div class="login_wrapper">
					<div class="login_form">
							<div class="id">
								<div>
									<h1>BootiKon</h1>
								<p>
									Pour profiter de touts les services que dispose la plateforme.
									Nous vous invitons a ouvrir un compte
								</p>
								</div>
							</div>
							<form method="post" action="/login">
								<h1>Mon Compte</h1>
								<label for="username">
									<input type="text" placeholder="Votre Identifiant" value="{{body.username}}" name="username"/>
									{{#if no_username}}
										<span class="required">{{no_username}}</span>
									{{/if}}
									{{#if no_user}}
										<span class="required">{{no_user}}</span>
									{{/if}}									
								</label>
								
								<label for="password">
									<input type="password" placeholder="********" name="password"/>
									<span>Miminum 8 caracteres</span>
									{{#if no_passeword}}
										<span class="required">{{no_passeword}}</span>
									{{/if}}
									{{#if false_password}}
										<span class="required">{{false_password}}</span>
									{{/if}}
								</label>								
								
								<p class="login_register">
									<input type="submit" value="Se connecter" name="register" class="register"/>									
								</p>
								<p>
									Si vous ne disposez pas d'un compte bootikon veuillez vous inscrire comme
									<a href="/signup" class="term_of_use">Utilisateur</a> ou comme
									<a href="/admsignup" class="term_of_use">vendeur</a>
								</p>
							</form>
							
					</div>
				</div>
			</section>