<aside>
						<ul>
							<li><span>Nom : </span><span>{{user.name}}</span></li>
							<li><span>Post-Nom : </span><span>{{user.surname}}</span></li>
							<li><span>Identifiant : </span><span>{{user.username}}</span></li>
							<li><span>Tel : </span><span>{{user.telephone}}</span></li>
							<li><span>Ville : </span><span>{{user.town}}</span></li>
							<li><span>Commune : </span><span>{{user.commune}}</span></li>
							<li><img src="/public/image/logo.jpg"/></li>
						</ul>
					</aside>